.experience {
  position: relative;
  margin-top: 3.5rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 3.7rem 9rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    @include mobile() {
      padding: 3rem 6rem;
      margin: 0 auto;
      flex-direction: column;
      align-items: flex-start;
      gap: 5rem;
    }
    @include tablet() {
      padding: 3rem 4rem;
    }
    li {
      display: flex;
      gap: 3.6rem;
      position: relative;
      @include mobile() {
        gap: 1.6rem;
      }
      .img {
        width: 5.5rem;
        height: 5.5rem;
        flex-shrink: 0;
        border-radius: 7rem;
        background: #ffecec;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 7rem;
        -moz-border-radius: 7rem;
        -ms-border-radius: 7rem;
        -o-border-radius: 7rem;
      }
      span {
        color: #0b132a;
        font-family: Rubik;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem; /* 120% */
      }
      p {
        color: #4f5665;
        font-family: Rubik;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem; /* 150% */
      }
    }
    li:nth-child(2)::before,
    li:nth-child(2)::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #eeeff2;
      width: 0.2rem;
      height: 100%;
      @include mobileAndtablet() {
        display: none;
      }
    }
    li:nth-child(2)::before {
      left: -50%;
    }
    li:nth-child(2)::after {
      right: -50%;
    }
  }
}
